.App {
  text-align: center;
}

.content-container {
  background-color: #f5f5f5;
  width: 602px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #525252;
}
